[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
arrow = "*"
astroid = "*"
autopep8 = "*"
binaryornot = "*"
certifi = "*"
chardet = "*"
click = "*"
colorama = "*"
decorator = "*"
defusedxml = "*"
diff-match-patch = "*"
django-bootstrap4 = "*"
django-import-export = "*"
future = "*"
geocoder = "*"
geopy = "*"
gunicorn = "*"
isort = "*"
jdcal = "*"
jinja2-time = "*"
lazy-object-proxy = "*"
mccabe = "*"
odfpy = "*"
openpyxl = "*"
poyo = "*"
psycopg2-binary = "*"
pycodestyle = "*"
pylint = "*"
python-dateutil = "*"
python-dotenv = "*"
pytz = "*"
ratelim = "*"
requests = "*"
sentry-sdk = "*"
six = "*"
tablib = "*"
unicodecsv = "*"
urllib3 = "*"
whichcraft = "*"
whitenoise = "*"
wincertstore = "*"
wrapt = "*"
xlrd = "*"
xlwt = "*"
Django = "*"
et_xmlfile = "*"
Jinja2 = "*"
MarkupSafe = "*"
PyYAML = "*"
dj-database-url = "*"
django-redis = "*"

[requires]
python_version = "3.7"
