{% extends "base_generic.html" %} {% block title %} NPL App {% endblock %} {% block html_head %} {% load static %}
<link rel="stylesheet" href="{% static 'cover.css' %}" /> {% endblock %} {% block content %}
<strong>Current Features:</strong>
<ul>
    <li>Quickly enter information about an interaction</li>
    <li>Classify encounters as Red, Yellow, Green Lights, or existing believer</li>
    <li>View all of your interactions in a list or on a map</li>
    <li>View charts that visualize the data about your interactions</li>
    <li>Create a team or join a team and visualize your team's data summary charts</li>
</ul>
<strong>Future Features:</strong>
<ul>
    <li>View your teams encounters on a map and on a list</li>
    <li>Various bug fixes and feature enhancements</li>
    <li>And much more ...</li>
</ul>
<p class="lead">
    <a class="btn btn-primary" href="{% url 'npl:signup' %}">Create account</a>
</p>
{% endblock %}