{% extends "base.html" %}

{% block title %}My Encounters{% endblock %}

{% block content %}

{% if encounters_list %}
<h2>My Encounters</h2>
<ul>
    {% for encounter in encounters_list %}
    <li>
        <a href="{% url 'polls:detail_encounter' encounter.id %}">
            {{encounter.name}}, {{encounter.response}}
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>You haven't had any encounters yet!</p>
{% endif %}

<br />
<br />
<a href="{% url 'polls:add_encounter' %}">Add Encounter</a>

{% endblock %}
