{% extends "base.html" %}

{% block title %}{{team.team_name}}{% endblock %}

{% block content %}

<div class="card shadow my-2">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2 class="card-title">{{ team.team_name }}</h2>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <div class="btn-group" role="group">
            <a type="button" class="btn btn-group-sm btn-secondary" href="{% url 'npl:team_dashboard' team.id %}">Dashboard</a>
            <a type="button" class="btn btn-group-sm btn-secondary" href="{% url 'npl:team_encounters_list' team.id %}">List</a>
            <a type="button" class="btn btn-group-sm btn-secondary" href="{% url 'npl:team_encounters_map' team.id %}">Map</a>
            </div>
        </div>
        <hr />
        <strong>Members:</strong>
        <ul>
            {% for member in team_members %}
            <li>
                    {{member.user.username}}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-around">
            <a class="btn btn-outline-primary" href="{% url 'npl:export_team_encounters' team.id %}">Download Encounters</a>
            <a class="btn btn-outline-danger" href="{% url 'npl:leave_team' team.id %}">Leave Team</a>
        </div>
  </div>
</div>
{% endblock %}