{% extends "base.html" %}

{% block title %}My Encounters: List{% endblock %}

{% block content %}

{% if encounters_list %}
<div class="d-flex justify-content-between align-center">
    <h2>My Encounters</h2>
<a class="btn btn-outline-primary" href="{% url 'npl:my_encounters_map' %}">Map View</a>
</div>

<div class="card mt-3">
    <div class="card-body">
      <ul class="list-group list-group-flush">
           {% for encounter in encounters_list %}
        <li class="list-group-item"><a href="{% url 'npl:detail_encounter' encounter.id %}">
            {{encounter.name}}, {{encounter.response}}
        </a></li>
          {% endfor %}
      </ul>
    </div>
    </div>
{% else %}
<p>You haven't had any encounters yet!</p>
{% endif %}
<br />
{% endblock %}
