{% extends "base.html" %}

{% block title %}My Encounters: List{% endblock %}

{% block content %}

{% if encounters_list %}
<h2>My Encounters</h2>
<h4><a href="{% url 'npl:my_encounters_map' %}">View on Map</a></h4>

    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
           {% for encounter in encounters_list %}
        <li class="list-group-item"><a href="{% url 'npl:detail_encounter' encounter.id %}">
            {{encounter.name}}, {{encounter.response}}
        </a></li>
          {% endfor %}
      </ul>
    </div>

{% else %}
<p>You haven't had any encounters yet!</p>
{% endif %}

<br />
<br />
<a href="{% url 'npl:new_encounter' %}">New Encounter</a>

{% endblock %}
