<html>
<head>
<!--    <link rel="stylesheet" href="style.css"> -->
    <title>{% block title %}NPL App{% endblock %}</title>
    {% block html_head %}<!-- to import static resources -->{% endblock %}
</head>

{% if user.is_authenticated %}

<body>
    <h1>The NoPlaceLeft App</h1>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="{% url 'npl:dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'npl:my_encounters' %}">My Encounters</a></li>
            <li><a href="{% url 'npl:new_encounter' %}">New Encounter</a></li>
            <li><a href="{% url 'npl:settings' %}">Settings</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
{% block scripts %}{% endblock %}
</html>

{% endif %}